html {background: url(../images/blue-plank-bg-repeat.jpg) 0 0 repeat;}
body {background:none transparent;}

/* Font Family */
html, body, #site-navigation, input {
  font-family: 'Lato', sans-serif !important;
}


#main a {color:#468495 !important;}
#main a:hover {color:#0d404f !important;}

/* STRUCTURE */

/* Overide Quince admin size */
#container.no-sidebar.no-vc, #container.row-inner, .site-info .row-inner, .page-header .row-inner {
  max-width: 1190px;
}

/* Headers / Top bar / Logo */
#top-bar {
  margin: 0 auto;
  max-width: 1120px;
  padding-bottom: 15px;
  padding-top: 10px;
  width: 100%;
  overflow:hidden;
}
#topleft-widget-area {float:left;margin-bottom:0;max-width:200px;}
#topright-widget-area {float:right;overflow:hidden;}

#top-bar ul li, #top-bar #topright-widget-area ul {
  margin: 0 auto;
  text-align: center;
}
#top-bar ul li {float:left;}

#top-bar ul {
  font-size: 12px;
  list-style: outside none none;
  margin: 0 20px 0 0;
}
#top-bar #topright-widget-area ul {

}

#top-bar-wrapper,
#top-bar-wrapper a,
#top-bar ul li ul li a::after {
  font-weight: bold;
  font-size: 14px;
}
#top-bar ul ul li a:after {
  content: "|";
}

/* Language */
ul.qtrans_language_chooser {/*margin-left: 25px !important;*/}
ul.qtrans_language_chooser li {float: right !important;}
ul.qtrans_language_chooser li a:after {content: "" !important; margin: 0 !important; padding: 0 !important;}
ul.qtrans_language_chooser li a:before {content: "|"; margin: 0 5px !important; padding: 0 !important; color: #fff !important;}
ul.qtrans_language_chooser li:first-child a:after {content: "";}
ul.qtrans_language_chooser li:last-child a:before {content: "";margin: 0 !important;}
ul.qtrans_language_chooser li a {margin: 0 !important; padding: 0 !important;}
ul.qtrans_language_chooser li a span {font-size: 12px;}

#site-logo {
  margin-top: 20px !important;
  left: 40px !important;
}

/* Menu */
#mobile-site-navigation.mm-menu.mm-current {
  background: none repeat scroll 0 0 #114a5a;
  color: #fff;
}
.mm-menu .mm-header {
  color: #fff;
}
#site-navigation {
  margin-right: 15px !important;
}

/* Banner */
.home-top-banner {
  color:#fff !important;
  font-size: 20px;
  text-align: center;
  border-radius: 0 !important;
}

/* Shopping Cart / WooCommerce */
div.header_cart_wrapper {
  display: inline-block;
  text-align: center;
  width: 70px;
}
#site-navigation .header_cart_link {
  padding: 0;
}
#site-navigation .header_cart_link .cart_product_count {
  left: 17px;
}

/* Overiding CSS added by Visual Editor */
#container.row-inner {
  padding:0 30px;
}
.wpb_row {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.row-inner {
  max-width: 1190px !important;
}
.wpb_column {
  padding: 0;
}
.meo-row-3-cols {padding:0 30px 70px;}
.home-block-one-third {padding:0 30px;}
.wpb_text_column {
  color: #0d404f;
  /* padding-top: 30px;*/
}
ul.move-up {margin-top:-15px;}

/* Page */

#content img {
  border: 1px solid #e0e0e0;
}

.home .main_row .wpb_text_column {
  padding-top: 0;
}
.page-header h1.page-title {
  padding: 0 30px;
}
.breadcrumbs-trail {
  float: none;
  margin-top: 10px;
  padding: 0 30px;
}


/* Contact */
section.wpb_row.main_row {
  padding: 0;
}
tr:nth-child(2n+1) td {
  background: inherit;
}
tr:nth-child(2n) td {
  background: none repeat scroll 0 0 #ffffff;
}

/* Association */
.association-narrow {width:100%;/*70%*/margin: 0 auto;}

/* Anciennes expositions */
.exhibition-galery-left .wpb_single_image {
  padding-right: 8px;
}
.exhibition-galery-right .wpb_single_image {
  padding-left: 8px;
}
.exhibition-galery-left .wpb_single_image, .exhibition-galery-right .wpb_single_image {
  padding-bottom: 16px;
}

/* Le Musee */
.meo-two-cols-gallery {}
.meo-two-cols-gallery .vc_col-sm-6.wpb_column.vc_column_container .wpb_wrapper {margin:0 auto;width: 98%;}

/* Default Template Override */
.page-template-default #container {
  width:80%;
  margin: 0px auto 30px;
  max-width: 800px !important;
}
.page-template-default .page-header h1.page-title {
  margin: 0 auto;
  width: 80%;
  font-size: 35px;
  max-width: 800px !important;
}
.page-template-default .rev_slider_wrapper {
  margin-bottom: 30px !important;
}
.page-template-default .vc_col-sm-4 {
  text-align: left;
}
.page-template-default div.entry-content {
  padding-top: 30px;
}

/* Posts */
/* .single-post .page-title */
.blog article h1.entry-title a {
  text-transform: uppercase;
  color: #0d404f;
  line-height: 1.6 !important;
  font-size: 20px !important;
}

/* Blog */
.blog h1.page-title {
  padding-left: 110px;
}
.blog article {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 30px;
  margin-left: 80px;
}
/*
.blog header.post-entry-header {
  border-bottom: 1px solid #ececec;
  margin-bottom: 15px;
}*/
.entry-content ul {
  margin-bottom: 18px;
}
.entry-content li {
  line-height: inherit;
}

/* Shop */
.woocommerce .product-col-4 ul.products li.product,
.woocommerce-page .product-col-4 ul.products li.product {
  margin: 20px 0;
}
.shop-template .img-wrap, .woocommerce .img-wrap {
  height: auto;
  margin: 0 auto;
  max-height: 200px;
  max-width: 200px;
}
.shop-template .product-inner, .woocommerce .product-inner {
  margin: 0 auto;
  max-width: 200px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs::before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs::before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs::before,
.woocommerce-tabs ul.tabs li,
.woocommerce-tabs ul.tabs li a {
  border: medium none !important;
  display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  visibility: hidden !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
  margin: 0;
}
.woocommerce div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs {
  clear: none;
  display: block;
  float: right;
  width: 43%;
}
.woocommerce-page.woocommerce-cart .cart-empty {
  font-size: 18px;
}

/* ELEMENTS */

/* Sponsors */
.sponsors-logos {

}
.sponsors-logos img {
  margin: 0 5px;
}

/* Revolution Slider */
.rev_slider_wrapper {
  margin-bottom: 70px !important;
}
.rev_slider_wrapper #slider-link a {color:#ffffff !important;}
.rev_slider_wrapper #slider-link a:hover {color:#ffffff !important;}

/* Newsletter */
.home-row-form {
  background-color: #114a5a;
  padding: 0;
  min-height:65px;
  margin-top: 60px;
}
.home-row-form .wpb_column,
.home-row-form .wpb_text_column,
.home-row-form .form mc4wp-form {
  margin:0;
  padding:0;
}
.home-row-form .wpb_content_element .wpb_wrapper {
  background-color: #114a5a;
}
#mc4wp-form-1 {
  background-color: #114a5a;
  /*margin: 70px 0 0 !important;
  height: 65px;*/
}
.newsletter-home {
  background-color: #114a5a;
  float: right;
  max-width: 900px;
  padding: 3px 30px;
  width:100%;
}
.nwslt-text {
  display: block;
  float: left;
  width: 715px;
  padding-left: 29px;
}
.nwslt-text label {
  color: #eeeeee;
  float: left;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5em;
  vertical-align: middle;
}
.nwslt-text input {
  color: #434343 !important;
  float: right;
  max-width: 300px;
  margin-left: 20px;
  height: 30px !important;
  background-color: #fff !important;
  font-weight:bold;
  font-size: 16px;
}
.nwslt-btn {
  float: right;
  margin-left: 20px;
}
.nwslt-btn input {
  background-color: #6e949f !important;
  border: medium none !important;
  height: 30px;
  padding: 0 15px;
}

/* Gallery on Sponsors page */
.gallery-columns-5 .gallery-item {
  min-height:160px;
  text-align: center;
  vertical-align: middle;
}

/* Gallery on Press page */
.gallery-columns-4 .gallery-item {
  margin: 0 15px 15px 0;
  min-width: auto !important;
  max-width: 150px !important;
  min-width: 150px !important;
}
.gallery-columns-4 .gallery-icon.portrait,
.gallery-columns-4 .gallery-icon.portrait a {
  max-width: 150px !important;
  margin: 0px !important;
  display: block !important;
  padding: 0 !important;
  width: 150px !important;
  overflow: hidden !important;
}


.wpb_wrapper table {
  margin: 0 !important;
  width: 90% !important;
  /*position: absolute;
  left: 0;*/
}
.wpb_wrapper table tr td:first-child {
  text-align: left !important;
}
.home .wpb_wrapper .wpb_wrapper p:first-child {
  margin-top: 50px;
}
.home .wpb_wrapper .wpb_wrapper p:first-child strong {
  font-size: 20px;
}

/* Contact Form */
.wpcf7 input,
.wpcf7 textarea {
  padding: 5px 15px;
}
.wpcf7 textarea {
  min-height: auto;
}
.wpcf7 input[type="submit"] {
  padding: 9px 30px;
}

.meo-contact-div-left {width:42%;}
.meo-contact-div-right {width:58%;}

/* Google Maps Text */
.neVct-IlgHgd .yePe5c-haAclf, .yePe5c-haAclf.yePe5c-purZT {
  font-size: 9px !important;
  height: 10px !important;
  line-height: 10px !important;
}

/* Images and Gallery */
.page-id-28 article section p img {
  display: block;
  margin-bottom: 40px !important;
}
.gallery-columns-4 .gallery-item {
  height: 150px;
  width: 150px;
}
figcaption {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  color: #555555 !important;
  font-style: italic;
  text-align: right !important;
}
.gallery-caption {
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-radius: 0;
  bottom: 5px;
  box-sizing: border-box;
  color: #000;
  left: 0;
  margin: 0;
  opacity: 1;
  padding: 4px 5px;
  position: absolute;
  text-align: center !important;
  transition: opacity 0.3s ease-in 0s;
  width: 25%;
}

/* Footer */
.footer-sidebar {
  /*background: url("./images/logo-musee-ormonts-footer.png") no-repeat scroll 50% 90% #0d404f !important;*/
  padding: 30px 30px 50px;
}
.footer-sidebar ul li {
  line-height: .8em;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}
.footer-sidebar .textwidget {
  line-height: 1.3em;
  margin-bottom: 0;
  padding-bottom: 0 !important;
}
.footer-sidebar a,
.footer-sidebar .textwidget {
  text-transform: lowercase;
  font-size: 15px;
}
body.de .footer-sidebar a,
body.de .footer-sidebar .textwidget {
  text-transform: none;
}
.footer-sidebar a:hover {
  border: none;
}
.footer-sidebar .vc_col-sm-3 {
  width:25% !important;min-height:160px;
}
/* Logo */
#footer-logo {}
/* Contact */
#footer-contact {text-transform: none;}
/* Social */
#footer-social {}
#footer-social ul {margin-left: 0px; margin-top: 15px;}
#footer-social ul li {display: inline-block; margin-right: 15px;}
#footer-social ul li a {display:block;width:41px;height:41px;margin: 0 0 15px;}
#footer-social ul li a:hover {text-decoration:none;border:none;}
#soc-fb {background: url("../images/icon-social-facebook.png") no-repeat scroll 0 0 #0d404f;}
#soc-tw {background: url("../images/icon-social-twitter.png") no-repeat scroll 0 0 #0d404f;}
/* Current Exhibit */
.menu-current-exhibit-container {
  margin-top: 10px;
}

.vc_responsive .wpb_row .vc_col-sm-3 {
  width: 25%;
}

/*---------------------------------------------------------------*/
/* Responsive
/*---------------------------------------------------------------*/

@media only screen and (max-width: 1150px){

  /* Content */
  .row-inner,
  .home-row-form .row-inner{padding-left:0px !important; padding-right:0px !important;}
}

@media only screen and (min-width: 1024px) and (max-width: 1150px){

  /* Content */
  .row-inner,
  .home-row-form .row-inner{padding-left:0px !important; padding-right:0px !important;}
}

@media only screen and (max-width: 975px){

  /* Newsletter */
  .home-row-form {
    padding-bottom: 30px;
  }
  .newsletter-home {
    float: none;
    margin: 0 auto;
    max-width: 510px;
  }
  .nwslt-text {
    float: none;
    padding: 0;
    width: 100%;
  }
  .nwslt-text label {
    float: none;
    text-align: center;
    width: 100%;
  }
  .nwslt-text input {
    float: left;
  }
  .vc_responsive .wpb_row .vc_col-sm-1,
  .vc_responsive .wpb_row .vc_col-sm-2,
  .vc_responsive .wpb_row .vc_col-sm-3,
  .vc_responsive .wpb_row .vc_col-sm-4,
  .vc_responsive .wpb_row .vc_col-sm-5,
  .vc_responsive .wpb_row .vc_col-sm-6,
  .vc_responsive .wpb_row .vc_col-sm-7,
  .vc_responsive .wpb_row .vc_col-sm-8,
  .vc_responsive .wpb_row .vc_col-sm-9,
  .vc_responsive .wpb_row .vc_col-sm-10,
  .vc_responsive .wpb_row .vc_col-sm-11 {
    padding: 0 !important;
  }
}
@media only screen and (max-width: 767px) {

  /* Footer */
  .vc_responsive .wpb_row .vc_col-sm-3 {
    width: 33%;
    float:left;
  }
  .footer-sidebar .vc_col-sm-3 {
    width:33% !important;min-height:160px;
  }
  .footer-sidebar .row-inner .vc_col-sm-3:first-child {width:100% !important;clear:both;margin-bottom: 40px;min-height: 60px !important;text-align: center;}
  ul#menu-current-exhibit li a {
    line-height: 1.3em;
  }
  .meo-two-cols-gallery .vc_col-sm-6.wpb_column.vc_column_container {padding:0 !important;}

  .meo-contact-div-left {width: 100%;}
  .meo-contact-div-right {width: 100%;}

  /* Slider */
  .rev_slider_wrapper {height:400px !important;max-height:400px !important;}
  .rev_slider_wrapper ul {margin:0;}

  #rev_slider_1_1 {height:400px !important;max-height:400px !important;}

  .div-mover {}

  #slide1-title {}
  #slide1-text {
    font-size: 17px !important;
    line-height: 23px !important;
    max-width: 95% !important;
    width: 95% !important;
  }
  #slider-link {top: 330px !important;left: 70% !important;}
  #slider-link a {font-size: 13px !important;}
  #slider-line {}

  .exhibition-galery-left {
    margin-bottom: 0px !important;
  }
  .exhibition-galery-right .wpb_single_image {
    padding-left: 0;
    padding-right: 8px;
  }
}

@media only screen and (max-width: 525px){

  #top-bar-wrapper {
    padding: 0 25px !important;
  }

  .blog h1.page-title {padding-left: 30px;}
  .blog article {padding-left:25px;padding-right:25px;margin-left: 0;}
  .blog #sidebar {padding:0 25px;}

  /* Newsletter */
  .home-row-form {
    padding-bottom: 0;
  }
  .newsletter-home {
    max-width: 425px;
  }
  .nwslt-text input {
    float: none;
    margin: 0 auto !important;
  }
  .nwslt-btn {
    clear: both;
    display: block;
    float: none;
    margin: 15px auto !important;
    text-align: center;
  }
  .footer-sidebar .vc_col-sm-3 {
    width:50% !important;
  }
  .footer-sidebar .row-inner .vc_col-sm-3:last-child {width:100% !important;clear:both;text-align: center;}
}

@media only screen and (max-width: 400px) {

  .footer-sidebar .vc_col-sm-3 {
    width: 100% !important;
    float:none;
    clear:both;
    min-height: auto;
    text-align: center;
  }

}

@media only screen and (max-width: 360px) {

  /* Footer */


}

/*
* -------------------------------------------------------------------------------------------
* ALL DEVICES INCLUDING TABLET LANDSCAPE
* -------------------------------------------------------------------------------------------
*/

@media only screen and (max-width : 1024px){

  /* Define content container paddings */
  .home-row-form .row-inner{padding-left:0px !important; padding-right:0px !important;}
}