@import "variables.scss";
@import "mediaqueries.scss";
@import "mixins.scss";
@import "base.scss";
@import "../node_modules/swiper/src/swiper.scss";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');

h1 {
  font-family: 'Dancing Script' !important;
  text-align: center;
  font-size: 2.5rem !important;
  line-height: 2.8rem !important;
  &:after {
    content: '';
    width: 30px;
    height: 2px;
    display: block;
    margin: $gutter/4 auto $gutter auto;
    background-color: $main-color;
  }
}

h2 {
  font-family: 'Dancing Script' !important;
  text-align: center;
  font-size: 2rem !important;
  line-height: 2.2rem !important;
  &:after {
    content: '';
    width: 30px;
    height: 2px;
    display: block;
    margin: $gutter/4 auto $gutter auto;
    background-color: $main-color;
  }
  &.woocommerce-loop-product__title {
    text-align: left;
    line-height: 1.5rem;
    font-size: 1.2rem !important;
    font-family: 'Lato' !important;
    &:after {
      display: none;
    }
  }
}
.page-template-default {
  div.entry-content {
    padding-top: 0 !important;
  }
}
#site-header {
  padding: $gutter/2 0 $gutter 0;
  #site-navigation {
    ul {
      li {
        a {
          padding: 0 10px !important;
        }
      }
    }
  }
  #header-container {
    height: 50px !important;
  }
}

#language_list {
  width: 100%;
  > ul {
    list-style: none;
    > li {
      text-transform: uppercase;
      display: inline-block;
      border-left: 1px solid white;
      &:last-child {
        border-left: none;
      }
    }
  }
}

.google-map {
  width: 100%;
  height: 400px;
}

.banner-post {
  width: 100%;
  height: $banner-height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#site-navigation {
  .header_cart_widget {
    top: 60%;
  }
  ul {
    li {
      ul.sub-menu {
        top: 70%;
        li {
          padding: 0.5rem 0;
        }
      }
    }
  }
}

.product-template-default {
  #container {
    max-width: 100% !important;
  }
  .related.products {
    h2 {
      display: none !important;
    }
  }
  .woocommerce-Tabs-panel.woocommerce-Tabs-panel--description {
    h2 {
      font-family: 'Lato', sans-serif !important;
      font-size: 1.4rem !important;
      line-height: 1.7rem !important;
      &:after {
        display: none;
      }
    }
  }
}

.cart_totals {
  h2 {
    font-family: 'Lato', sans-serif !important;
    font-size: 1.4rem !important;
    line-height: 1.7rem !important;
    &:after {
      display: none;
    }
  }
}

section.home-expositions {
  width: 100%;
  .swiper-container {
    width: 100%;
    .swiper-wrapper {
      width: 100%;
      height: 600px;
      position: relative;

      @include mq-m {
        height: 480px;
      }

      @include mq-s {
        height: 380px;
      }

      @include mq-xs {
        height: 250px;
      }

      .swiper-slide {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.separator_simple {
  border: 1px solid #efefef !important;
}

.home {
  #container {
    #content {
      width: 85%;
      margin: auto;
      overflow-x: visible;
      .wpb_wrapper {
        p {
          &:first-child {
            margin-top: 0 !important;
          }
        }
      }
    }
  }
}

#container {
  #content {
    width: 85%;
    margin: auto;
    overflow-x: visible;

    .CTA-homepage {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      > article {
        flex: auto;
        width: 29%;
        margin: 2%;
        > div {
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          margin-bottom: 1rem;
          > img {
            width: 100%;
            border: none;
          }
        }
        @include mq-s {
          width: 100%;
        }
      }
    }

    .newsletter {
      width: 100%;
      background-color: $main-color;
      display: flex;
      padding: 1rem 0;
      flex-wrap: wrap;
      > div.txt {
        flex: auto;
        width: 50%;
        color: white;
        font-size: 1.9rem;
        text-align: left;
        padding-left: 2rem;
        font-family: 'Dancing Script' !important;
        @include mq-s {
          width: 100%;
          margin-bottom: 1rem;
        }
      }
      > div.form {
        flex: auto;
        @include mq-s {
          width: 100%;
        }

        p {
          margin-bottom: 0;
        }

        .mc4wp-form {
          width: 100%;
          margin: auto;
          display: block;
          background-color: transparent !important;
          input {
            width: 64%;
          }
          input[type='submit'] {
            width: 35%;
          }
          @include mq-s {
            width: 90%;
            input {
              width: 100%;
            }
          }
        }
      }
    }

    h1.expo {
      margin-top: 2.5rem;
    }

    article.exposition {
      display: flex;
      padding: $gutter 0;
      border-bottom: 1px solid #efefef;
      &:last-child {
        border-bottom: none;
      }
      h2 {
        text-align: left;
        &:after {
          display: none;
        }
      }
      figure {
        flex: auto;
        width: 20%;
        order: 1;
        margin-right: 5%;
        img {
          width: 100%;
        }
      }
      div {
        flex: auto;
        width: 75%;
        order: 2;
        position: relative;
        span.date {
          display: block;
          font-weight: bold;
        }
        a.more-exposition {
          width: 15%;
          display: block;
          text-align: center;
          border: 1px solid darken($main-color, 10%);
          background-color: $main-color;
          padding: 10px 0;
          color: white !important;
          text-transform: uppercase;
          margin-top: 30px;
          float: right;
          &:hover {
            color: #468495 !important;
          }
        }
      }
     /*&:nth-child(2n) {
        figure {
          order: 2;
        }
        div {
          order: 1;
          text-align: right;
        }
      }*/
    }

    article.post {
      display: flex;
      figure {
        flex: auto;
        width: 40%;
        margin-right: 2%;
        img {
          width: 100%;
        }
      }
      div {
        flex: auto;
        width: 75%;
        position: relative;
        span.date {
          display: block;
          font-weight: bold;
        }
        h2 {
          text-align: left;
          &:after {
            display: none;
          }
        }
        a.more-exposition {
          width: 15%;
          display: block;
          text-align: center;
          border: 1px solid darken($main-color, 10%);
          background-color: $main-color;
          padding: 10px 0;
          color: white !important;
          text-transform: uppercase;
          margin-top: 30px;
          float: right;
          &:hover {
            color: #468495 !important;
          }
        }
      }
    }

    section.exposition {
      width: 90%;
      margin: auto;
      .poster {
        float: left;
        width: 25%;
        margin-right: 30px;
        transform: translate(0,-50%);
      }
      .date {
        width: 100%;
        display: block;
      }
      > h1 {
        font-family: 'Dancing Script' !important;
        text-align: center;
        font-size: 2.5rem !important;
        &:after {
          content: '';
          width: 30px;
          height: 2px;
          display: block;
          margin: $gutter/4 auto $gutter auto;
          background-color: $main-color;
          margin-right: 35%;
        }
      }
      .gallery {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        clear: both;
        padding: 30px 0;
        border-top: 1px solid #eee;
        h2 {
          width: 100%;
        }
        p {
          &:last-child {
            margin-bottom: 30px;
          }
        }
        a {
          width: 25%;
          display: block;
          div {
            width: 96%;
            margin: 2%;
            background-size: cover;
            background-position: center;
            img {
              width: 100%;
              visibility: hidden;
            }
          }
        }
      }
      .contest {
        padding: 30px 0;
        border-top: 1px solid #eee;
        clear: both;
        ul.contest-list {
          width: 80%;
          margin: auto;
          display: flex;
          li {
            width: 33%;
            flex: auto;
            list-style: none;
            > a {
              > div {
                width: 96%;
                margin: 2%;
                background-size: cover;
                background-position: center;
                > img {
                  width: 100%;
                  border: none;
                }
              }
            }
            > p {
              text-align: center;
              > span {
                display: block;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      aside.other-expo {
        width: 100%;
        padding: 30px 0;
        clear: both;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid #eee;
        > h2 {
          flex: auto;
          width: 100%;
          display: block;
        }
        > a {
          flex: auto;
          width: 25%;
          display: block;
          max-width: 25%;
          > article {
            width: 96%;
            flex: auto;
            padding: 0 2%;
            text-align: center;
            text-transform: uppercase;
              > div {
                width: 100%;
                background-size: cover;
                background-position: center;
                > img {
                  width: 100%;
                  border: none;
                }
            }
          }
        }
      }
    }

    section.post {
      width: 90%;
      margin: auto;
      .date {
        width: 100%;
        display: block;
        font-weight: bold;
        font-style: italic;
      }
      h1 {
        &:after {
          margin: $gutter/4 0 $gutter 26%
        }
      }
      > .photo-thumb {

        width: 40%;
        float: right;
        display: block;
        margin-left: 30px;
        max-height: 195px;
        overflow: visible;
        transform: translate(0,-50%);
      }
      .gallery {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        clear: both;
        padding: 30px 0;
        border-top: 1px solid #eee;
        h2 {
          width: 100%;
        }
        p {
          &:last-child {
            margin-bottom: 30px;
          }
        }
        a {
          width: 22%;
          display: block;
          div {
            width: 96%;
            margin: 2%;
            background-size: cover;
            background-position: center;
            img {
              width: 100%;
              visibility: hidden;
            }
          }
        }
      }
      aside.other-expo {
        padding: 30px 0;
        border-top: 1px solid #eee;
      }
    }
    section.download-medias {
      table.list-medias {
        tbody {
          > tr {
            > td {
              &:first-child {
                text-align: left;
              }
               a {
                   i.fa.fa-download {
                    font-size: 1.4rem !important;
                  }
              }
            }
          }
        }
      }
    }
    section.sponsors {
      > .list-sponsors {
        display: flex;
        flex-wrap: wrap;
        .sponsor {
          flex: auto;
          width: calc(25% - 1rem);
          max-width: calc(25% - 1rem);
          padding: 0.5rem;
          img {
            border: none;
            display: block;
            margin: auto;
            max-width: 100%;
          }
        }
      }
    }
  }
}

#footer-social {
  ul {
    margin-top: 5px;
    li {
      margin-right: 5px;
      a {
        text-align: center;
        background-color: rgba(255,255,255,0.5);
        border-radius: 50%;
        display: flex;
        align-items: center;
        > i {
          font-size: 1.5rem;
          margin: auto;
          display: block;
          color: $main-color;
        }
      }
    }
  }
}

.site-footer {
  .footer-sidebar {
    aside.widget.widget_nav_menu {
      ul.menu {
        li {
          ul.sub-menu {
            display: none;
          }
        }
      }
    }
  }
  .site-info {
    padding: 1rem 0 0.5rem 0;
    background-color: darken($main-color, 5%);
    .widget {
      width: 100%;
      text-align: center;
    }
  }
}